<div id="<%= dom_id review %>">
  <p>
    <strong>Title:</strong>
    <%= review.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= review.body %>
  </p>

  <p>
    <strong>User:</strong>
    <%= review.user_id %>
  </p>

</div>
